In [1]:
import pandas as pd

In [9]:
import sys
sys.path.append('db')
from db.select_training_data import get_training_data

In [11]:
df = get_training_data()
df

/mnt/c/Users/victo/OneDrive/Desktop/League/League_ARAM_prediction_model-main/db/select_training_data.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,game_result,level_p1,champ_name_p1,class,total,hard_cc,level_p2,champ_name_p2,class,total,...,level_p4,champ_name_p4,class,total,hard_cc,level_p5,champ_name_p5,class,total,hard_cc
0,W,247,Cassiopeia,"[""Mage""]",2.0,2.0,801,Evelynn,"[""Assassin"", ""Mage""]",0.0,...,240,Mordekaiser,"[""Fighter""]",0.0,2.0,371,Swain,"[""Mage"", ""Fighter""]",2.0,1.0
1,L,739,Soraka,"[""Support"", ""Mage""]",2.0,1.0,177,Gnar,"[""Fighter"", ""Tank""]",1.0,...,249,Briar,"[""Fighter"", ""Assassin""]",NaN,NaN,545,Draven,"[""Marksman""]",1.0,1.0
2,W,674,Leona,"[""Tank"", ""Support""]",0.0,2.0,104,Lissandra,"[""Mage""]",2.0,...,202,Shyvana,"[""Fighter"", ""Tank""]",1.0,0.0,738,Ezreal,"[""Marksman"", ""Mage""]",2.0,1.0
3,L,177,Akali,"[""Assassin""]",0.0,0.0,465,Lucian,"[""Marksman""]",1.0,...,151,Yuumi,"[""Support"", ""Mage""]",2.0,1.0,182,Janna,"[""Support"", ""Mage""]",1.0,1.0
4,W,46,Malphite,"[""Tank"", ""Fighter""]",2.0,1.0,564,Lissandra,"[""Mage""]",2.0,...,470,Akali,"[""Assassin""]",0.0,0.0,118,Teemo,"[""Marksman"", ""Assassin""]",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30487,L,117,Seraphine,"[""Mage"", ""Support""]",3.0,2.0,99,Varus,"[""Marksman"", ""Mage""]",2.0,...,212,Fizz,"[""Assassin"", ""Fighter""]",1.0,0.0,413,Sett,"[""Fighter"", ""Tank""]",1.0,2.0
30488,W,174,Diana,"[""Fighter"", ""Mage""]",1.0,1.0,147,Sivir,"[""Marksman""]",1.0,...,293,Viktor,"[""Mage""]",2.0,1.0,211,Orianna,"[""Mage"", ""Support""]",2.0,1.0
30489,L,198,DrMundo,"[""Fighter"", ""Tank""]",1.0,0.0,525,Malphite,"[""Tank"", ""Fighter""]",2.0,...,234,Heimerdinger,"[""Mage"", ""Support""]",3.0,2.0,43,Maokai,"[""Tank"", ""Mage""]",2.0,3.0
30490,W,311,Malphite,"[""Tank"", ""Fighter""]",2.0,1.0,239,AurelionSol,"[""Mage""]",2.0,...,103,Nasus,"[""Fighter"", ""Tank""]",1.0,1.0,282,Tristana,"[""Marksman"", ""Assassin""]",0.0,0.0
30491,L,621,Diana,"[""Fighter"", ""Mage""]",1.0,1.0,211,Poppy,"[""Tank"", ""Fighter""]",0.0,...,220,Akali,"[""Assassin""]",0.0,0.0,53,Irelia,"[""Fighter"", ""Assassin""]",1.0,0.0

In [2]:
df = pd.read_csv("aram_only_data.csv")
df

,gameId,gameResult,puuid_p1,level_p1,champion_p1,champId_p1,puuid_p2,level_p2,champion_p2,champId_p2,...,champion_p3,champId_p3,puuid_p4,level_p4,champion_p4,champId_p4,puuid_p5,level_p5,champion_p5,champId_p5
0,NA1_4864312271,W,6S6KXBWAhv36yHzDwDf07pntfqhYs8WUPHYPT3hq-Epmd9...,247,Cassiopeia,69,LzOQm393fUWIXdENLjZc_IC69OklI9p-nV00wb5wCSIz70...,801,Evelynn,28,...,Nautilus,111,ixN3Ye6_jw5mVMRhLphvPT_VL5wX-_GIxkuVoQUmSGDyCG...,240,Mordekaiser,82,hkIuPaowznBUdKC9xa0B09GgRaSHiCFG1I78ohNgH_lrcq...,371,Swain,50
1,NA1_4864312271,L,_SRpeXL-A5r25AgGc90Eio136prZbrFaLCZPQr1_DnWecY...,739,Soraka,16,ulttgUI0i5oPijn9zEINDT_ARx02sy8I1fzePXKjxuvgrW...,177,Gnar,150,...,Zed,238,PPdmSuh7Uzoejad6tuM31sAye3CxO3anZAlK3Wim418tPY...,249,Briar,233,PGU_QIh0_TcgVss0hiweZqqVeeda1ydus6U61LLbDWiydd...,545,Draven,119
2,NA1_4862481082,W,JNm3t3aF86tViYtj0KbyBpbXkMQs623xqYI2UVuFOLwSdx...,674,Leona,89,L2W8scAj-RDY1ocqyZ7XkPcvUndkDZuDBAHDNrtAleoWqq...,104,Lissandra,127,...,Tryndamere,23,oRxLkRAUOgNxJr_T6R2vE49kNFG-vUajUiEKb2Fcr12jNK...,202,Shyvana,102,_SRpeXL-A5r25AgGc90Eio136prZbrFaLCZPQr1_DnWecY...,738,Ezreal,81
3,NA1_4862481082,L,CiVl32Tt4Nk4-kWStPUdmMkmWE-V38qqlZZkufKYLkQj7y...,177,Akali,84,8CuLwFnJRmbbcwCRWgSnj77jsjZkHhn47MzsGPIXYXHTHY...,465,Lucian,236,...,Ashe,22,5fukDRSr_168fcMBoKsEYSCQC7ETBEjWd6qKuRQVxguySg...,151,Yuumi,350,yGCAEvE5czPCwV_eTwakft7viZwLjGzc5BA7500r0-XgSj...,182,Janna,40
4,NA1_4861823993,W,znJoVSbjL_cRbqM8pxPzvtKXUKA3BjSLuqF9KbLGngOKCk...,46,Malphite,54,rhFEBOGaLmP_289-1RnXo3f0CH_7O6gtQGpC56O0gllmQz...,564,Lissandra,127,...,Aatrox,266,gjTfNxY8GUIhZVrXwLO4Od0BFYwR3r4bfQ5oY55YIrRNr_...,470,Akali,84,8coq9OgpCGYtiL6WNrRSftbsVpWP7rJs_Vs4e3zSleaxh7...,118,Teemo,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30487,NA1_4863392105,L,ai3qgs8NDFdFO1pXMZCwymVI1nJWXsU0uD9nnLcSykU9Tz...,117,Seraphine,147,K3K_43DZFLC9LOlWroLmTEHvpBBNxNTCI0ZELS9M1J0WfK...,99,Varus,110,...,Azir,268,0N9KzU25AooDIBgU9K4R4ieRFik9R6506FjZp_BV0sNnXv...,212,Fizz,105,IuFPCp3HpeTXzPUCSzbb89nV7Qwh3BuRGbDJTZ1XPpjM2c...,413,Sett,875
30488,NA1_4863362020,W,SC6_xC53VA5ZQ2G1seRsegjL-vku8wYgY-K7CbjReUi5Jr...,174,Diana,131,FGMYyD37s8tZMqsmTyiiz3wHbVIK2j2xsXif3MORPSUqS1...,147,Sivir,15,...,Lillia,876,UVj9FzgfgDEklhlGrkCHZfqhSif9_J-dCmwDMKETRI2vLo...,293,Viktor,112,0N9KzU25AooDIBgU9K4R4ieRFik9R6506FjZp_BV0sNnXv...,211,Orianna,61
30489,NA1_4863362020,L,ahO9yC8tlyeR8uAGWlpqldJf09HQW8ziHyjJuJMqawQT7V...,198,DrMundo,36,oEeI3FhzUpJxxSSgafojVCfj8SpNPhbgmIGJsPpoTUCGWv...,525,Malphite,54,...,Malzahar,90,MhS3NlYlwuG8uXJjrmST1PhfpvkroJk8OOgnhO80ovCFud...,234,Heimerdinger,74,o-NYK8eAd4s-3hqQXWeWBLujpSJGlfyuZ44dIYAUL2_az8...,43,Maokai,57
30490,NA1_4861761686,W,72MORSzc1g5Z1b90g8vOSeBEKlScfvw-tZKvy91COHTrLz...,311,Malphite,54,Fwg9zhBHoMnNnMcPPShHqPJRsQfgndp53XPgxMOrWQ5AyW...,239,AurelionSol,136,...,Heimerdinger,74,7hWmIbA3bH4Xe4TOD-oJNfzOVaS6D5J9OOpg5j4xnCHJ_U...,103,Nasus,75,pVRx-KP2BBaIx3Qyfr0-aVNd9ud-ledjIpvhqVpbRyJZy0...,282,Tristana,18
30491,NA1_4861761686,L,CRfsM3V7YlPZZYOjHeVkiUUni2-VDeX-5_noQEnA93lRJL...,621,Diana,131,0N9KzU25AooDIBgU9K4R4ieRFik9R6506FjZp_BV0sNnXv...,211,Poppy,78,...,Kalista,429,-ntfVb2gtcGGXQzkPfS6LIhZULy6SBiGE5OEur2ZpQLSQv...,220,Akali,84,ETR8EefC89WJ92WhaPhC83tQ2CACy2Lhz5IUNvuHBmkLAx...,53,Irelia,39

In [4]:
to_remove = []
for i in df.columns:
    if ('puuid' in i) or ('gameId' in i):
        to_remove.append(i)
to_remove

['gameId', ' puuid_p1', ' puuid_p2', ' puuid_p3', ' puuid_p4', ' puuid_p5']

In [6]:
df.drop(to_remove, axis=1, inplace=True)
df

,gameResult,level_p1,champion_p1,champId_p1,level_p2,champion_p2,champId_p2,level_p3,champion_p3,champId_p3,level_p4,champion_p4,champId_p4,level_p5,champion_p5,champId_p5
0,W,247,Cassiopeia,69,801,Evelynn,28,47,Nautilus,111,240,Mordekaiser,82,371,Swain,50
1,L,739,Soraka,16,177,Gnar,150,112,Zed,238,249,Briar,233,545,Draven,119
2,W,674,Leona,89,104,Lissandra,127,106,Tryndamere,23,202,Shyvana,102,738,Ezreal,81
3,L,177,Akali,84,465,Lucian,236,34,Ashe,22,151,Yuumi,350,182,Janna,40
4,W,46,Malphite,54,564,Lissandra,127,470,Aatrox,266,470,Akali,84,118,Teemo,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30487,L,117,Seraphine,147,99,Varus,110,594,Azir,268,212,Fizz,105,413,Sett,875
30488,W,174,Diana,131,147,Sivir,15,430,Lillia,876,293,Viktor,112,211,Orianna,61
30489,L,198,DrMundo,36,525,Malphite,54,283,Malzahar,90,234,Heimerdinger,74,43,Maokai,57
30490,W,311,Malphite,54,239,AurelionSol,136,211,Heimerdinger,74,103,Nasus,75,282,Tristana,18
30491,L,621,Diana,131,211,Poppy,78,116,Kalista,429,220,Akali,84,53,Irelia,39

In [17]:
y = df['WIN/LOSS?']
X = df.drop(['matchID', 'WIN/LOSS?'], axis=1)
X

,Unnamed: 0,total kills,total deaths,total assists,Damage Dealt,Damage Taken,Time CC'ed,Total Gold Earned,First Blood Turret,#Assassins,#Fighters,#Mages,#Marksman,#Supports,#Tanks
0,0,43,60,97,388195,187097,234,70087,0,2,0,3,1,0,3
1,1,58,43,170,424275,146323,179,71260,1,0,2,4,1,3,0
2,2,39,42,93,327363,149827,156,65735,1,1,2,2,1,2,2
3,3,42,39,98,338459,133510,192,62729,0,2,1,4,0,2,0
4,4,43,33,92,273766,91827,97,57130,1,0,2,3,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,185,55,46,140,463448,138660,139,71890,0,1,1,2,2,2,0
2064,186,69,72,135,552494,171331,145,89368,0,1,0,2,4,1,0
2065,187,72,69,138,566353,244314,156,90331,1,0,3,2,2,1,2
2066,188,63,62,139,482339,178200,150,79914,0,1,1,2,2,0,1
2067,189,62,63,146,469383,195911,135,78632,0,0,2,1,2,2,1

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [42]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, y_train)
Y_pred_neigh =neigh.predict(X_test)
s = f1_score(y_test, Y_pred_neigh)
print(f'F1 Score KNear: {round(s*100,2)}%')

F1 Score KNear: 70.29%

In [43]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train)
Y_pred_NB = gnb.predict(X_test)
s = f1_score(y_test, Y_pred_NB)
print(f'F1 Score Naive Bayes: {round(s*100,2)}%')

F1 Score Naive Bayes: 78.67%

In [50]:
from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(Y_pred_neigh, y_test).ravel()
confusion_matrix(Y_pred_neigh, y_test)

array([[229, 101],
       [107, 246]], dtype=int64)